In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [120]:
df=pd.read_csv('/content/drive/MyDrive/Dataset/bmi.csv')
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [ ]:
df['Index'].value_counts()

5    198
4    130
2     69
3     68
1     22
0     13
Name: Index, dtype: int64

In [ ]:
data_index = {0: "Extremely Weak", 1: "Weak", 2: "Normal", 3: "Overweight", 4: "Obesity", 5 :"Extreme Obesity"}

In [ ]:
df["bmi"] = df.Index.map(data_index)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
 4   bmi     500 non-null    object
dtypes: int64(3), object(2)
memory usage: 19.7+ KB

In [121]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [122]:
df.corr()

          Height    Weight     Index
Height  1.000000  0.000446 -0.422223
Weight  0.000446  1.000000  0.804569
Index  -0.422223  0.804569  1.000000

In [124]:
#Splitting data into target and test
features = df[['Weight','Height']]
target= df.Index
print(target)
print(features)

0      4
1      2
2      4
3      3
4      3
      ..
495    5
496    4
497    5
498    5
499    5
Name: Index, Length: 500, dtype: int64
     Weight  Height
0        96     174
1        87     189
2       110     185
3       104     195
4        61     149
..      ...     ...
495     153     150
496     121     184
497     136     141
498      95     150
499     131     173

[500 rows x 2 columns]

In [125]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [160]:
X_train, X_test, Y_train, Y_test = train_test_split(features,target, random_state=60)

In [141]:
X_train.shape, Y_train.shape

((375, 2), (375,))

In [131]:
X_test.shape, Y_test.shape

((125, 2), (125,))

In [128]:
model = LinearRegression()

In [129]:
model.fit(X_train.values ,Y_train)

LinearRegression()

In [161]:
train_score=model.score(X_train.values,Y_train)
print(train_score)
test_score=model.score(X_test.values,Y_test)
print(test_score)

0.8174179609160167
0.8449558203089191

In [162]:
prediction = model.predict(X_test.values)
print(prediction)

[3.5154454  5.67577919 4.07210014 2.47850549 4.49331418 4.08842724
 3.30652184 1.91560803 4.65853328 1.61206697 4.6407601  1.9790065
 5.54610099 4.3809235  1.54722787 2.59281155 3.98276494 1.74174517
 3.84108152 3.26761947 4.805499   5.73533599 3.43235837 3.41986749
 2.64372459 4.294475   5.36839645 4.70896066 4.39581543 3.30556142
 2.34642625 5.36647562 5.70795863 3.94386257 2.61250556 3.72196792
 5.60469737 3.18260615 6.11043907 2.17544463 4.41742483 5.76751543
 5.27281854 5.63303514 3.84828466 4.80261775 3.79833748 0.97904812
 4.66429579 2.44344479 3.485667   3.80265936 3.78872786 3.28442678
 4.07450119 5.74494016 5.76799564 2.54478521 4.28198412 2.34258457
 3.12064831 4.05480717 3.00874329 2.27774548 6.13829663 5.17003749
 3.39008909 3.87470159 4.99809546 3.61966708 5.03747804 3.90544041
 4.57351996 2.685028   4.84488158 4.68302394 2.2791861  2.87090154
 2.95062711 2.79261114 3.07310218 3.15666942 3.13506002 3.80842187
 2.14854749 3.40642164 2.98232635 2.25084833 2.64132355 4.63403718
 3.03564043 3.38816825 5.80977926 3.97940348 3.30604163 5.10135672
 4.36555682 4.69791586 1.98765026 2.33730228 3.25704943 3.76711845
 5.06965748 4.8405597  1.67594565 1.48334919 2.2897507  3.4693399
 3.37424219 1.04628826 2.34306478 2.10724407 4.30696043 2.59089071
 2.08658964 4.08410536 3.73397859 2.86946091 3.70275957 3.71956688
 1.27970793 2.81806766 4.14414237 4.9409397  3.87182034]

In [163]:
print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)
print('Mean squared error (MSE): %.2f'  % mean_squared_error(Y_test, prediction))
print('Coefficient of determination (R^2): %.2f' % r2_score(Y_test, prediction))

Coefficients: [ 0.03313986 -0.03362007]
Intercept: 5.978829139793734
Mean squared error (MSE): 0.30
Coefficient of determination (R^2): 0.84

In [171]:
import numpy as np

i= np.array([[41,150],[64,100]])
model.predict(i)

array([2.29455279, 4.7377732 ])

In [189]:
h=float(input("Enter Height in cms."))
w=float(input("Enter weight in kgs."))
p=[w,h]
ind=model.predict([p])
print("Index is :",ind[0])
i=round(ind[0])
if i in data_index:
  print("Your state is",data_index[i])
else:
  print("Your index is greater than 5 i.e",i,' and you need to work on your body' )

Enter Height in cms.174
Enter weight in kgs.96
Index is : 3.3103635125822874
Your state is Overweight

In [167]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3